<div class="col-sm-12 page-head">
  <h2><span class="label label-lg thema-color"><%= @shelter.shelter_name %>さんのチャットリスト</span></h2>
</div>

<div>
<ul class="list-group">
	<% @users.each do |user| %>
		<li class="list-group-item">
            <a href="/chat_room/<%= user.id %>"><%= user.user_name %></a>
        </li>
	<% end %>
</ul>
</div>
<!-- 余裕があれば通知機能とかも作りたい感ある
     表示するリストがないときに「あなたの避難所にユーザが支援表明すると，そのユーザとチャットすることができるようになります」的な説明文を表示するとわかりやすいかもしれない -->