<div class="col-sm-12 page-head">
  <h2><span class="label label-lg thema-color">チャットリスト</span></h2>
</div>

<div>
<ul class="list-group">
	<% if @users.nil? %>
		<p style="color:#aaa;padding-left:30px;">ユーザがあなたの避難所に支援表明をすると，そのユーザとチャットすることができるようになります</p>
	<% else %>
		<% @users.each do |user| %>
			<li class="list-group-item">
            	<a href="/chat_room/<%= user.id %>"><%= user.user_name %></a>
        	</li>
		<% end %>
	<% end %>

</ul>
</div>
<!-- 余裕があれば通知機能とかも作りたい感ある -->