<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarList">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <h1 class="logo">
          </h1>
        </a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarList">
        <ul class="nav navbar-nav">
          <% unless session[:shelter] || session[:user] %>
            <li><a href="/shelter/signin">避難所ログイン</a></li>
            <li><a href="/shelter/signup">避難所登録</a></li>
            <li><a href="/user/signin">ユーザログイン</a></li>
            <li><a href="/user/signup">ユーザ登録</a></li>
          <% else %>
            <h2><%= @name %>[<%=session[:type]%>]としてログイン中</h2>
            
            <% if session[:type] == "shelter" %> 
              <li><a href="/search_item">必要物資追加</a></li>
              <li><a href="/support_list">支援してくれる人一覧</a></li>
            <% else %>
              <li><a href="/user/item_list">支援表明物資一覧</a></li>
            <% end %>
            <li><a href="/show/shelters">登録避難所一覧</a></li>
            <li><a href="/show_items">現在の登録物資一覧</a></li>
          <% end %>
          <li><a href="/signout">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>



