<link rel="stylesheet" href="/stylesheets/pay.css">
<p class="thx"><img src="/images/ojigi.png">お支払いありがとうございました。</p>
<h2 class="backbtn"><a href="/" class="label label-lg thema-color">TOPへ戻る</a></h2>

