<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Safitem</title>
</head>
<body>
  <% unless session[:shelter] %>
    <a href="/signin">ログイン</a><a href="/signup">新規登録</a>
    <h2>現在未ログイン</h2>
    <%= erb :search %>
  <% else %>
    <a href="/signout">ログアウト</a>
    <h2><%= Shelter.find(session[:shelter]).shelter_name %>としてログイン</h2>
  <% end %>
  
</body>
</html>
