<div id="top_cover_box">
  <div id="top_cover">
        <h1>物資支援サービス Safitem</h1>
        <h2>あなたの支援が誰かを救う</h2>
        
        <a href="/shelter/signup" class="btn btn-lg btn-warning signup-shelter">避難所新規登録</a>
        <a href="/user/signup" class="btn btn-lg btn-primary signup-user">ユーザ新規登録</a>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/index.css" >

<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>
<h1>トップページ工事中</h1>