<form action="/signup" method="POST">
  <input type="text" name="email" placeholder="Eメール"><br>
  <input type="password" name="password" placeholder="パスワード
"><br>
  <input type="password" name="password_confirmation"
placeholder="パスワードの確認"><br>
  <input type="text" name="phone" placeholder="電話番号"><br>
  <input type="text" name="shelter_name" placeholder="避難所名"><br>
  <input type="text" name="home_adress" placeholder="避難所住所"><br>
  <input type="text" name="representative_name" placeholder="代表者名"><br>
  <input type="submit" value="新規登録">
</form>

