.item-box {
  width: 250px;
  margin: 15px;
  float: left;
  box-shadow: 0 1px 1px rgba(255,0,0,0.1);
  position: relative;
}

.item-box .image {
  width: 250px;
  height: 250px;
  display: table;
  border: 1px solid #ddd;
  background: #FC919E;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
}

.item-box .image .img-wrap {
  width: 250px;
  height: 255px;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.item-box .image .img-wrap img {
  max-height: 250px;
}

.item-box .detail{
  height: 75px;
  padding: 10px;
  border: 1px solid #bbb;
  border-top: 0;
  background: #ffffff;
  font-size: 13px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.item-box .detail .title{
  margin: 0;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


div.buttons button{
  display: inline-block;
  margin:3px 5px 0px 0px;
}

div.buttons form{
  display: inline-block;
  margin: 3px 0px 0px 5px;
}

.detail .support-count{
  display: inline-block;
  border-bottom: solid #eee;
  margin:0px 5px 2px 0px;
}

.detail .price{
  display: inline-block;
  border-bottom: solid #eee;
  margin:0px 0px 2px 15px;
}

.item-box .shelter-info {
  width: 250px;
  height: 10px;
  display: table;
  border: 1px solid #ddd;
  background: #FC919E;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  padding: 10px;
}

.item-box .shelter-detail{
  display: table;
  height: 75px;
  width: 250px;
  border: 1px solid #bbb;
  padding: 0px 10px 10px 10px;
  /*border-top: 0;*/
  background: #ffffff;
  font-size: 13px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.item-box .shelter-count{
  height: 100px;
  padding: 10px;
  border: 1px solid #bbb;
  border-top: 0;
  background: #ffffff;
  font-size: 13px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.want-list-btn{
  display: inline-block;
  margin: 5px;
}


h2{
  display: inline-block;
  margin: 15px 5px 5px 5px;
}