.table{
	background-color: #fff;
	margin-top: 20px;

}

thead th{
	background-color: #fde1ee;
}

.sum{
	float: right;
}

#sum-price{
	font-size: 30px;
	color: red;
	margin: 0 20px;
}

  p.thx{
    margin: 30px;
    text-align: center;
  }
  .thx img{
    height: 100px;
  }

  .backbtn{
    text-align: center;
    margin: 15px 10px 40px 10px;
  }