
header {
  background-color: #FCE1EE !important;
  height: 80px;
}
.container {
  padding-top: 80px;
  background-color: #f9f9f9;
}
header h1.logo{
  width: 200px;
  height: 45px;
  margin: 7px 0px 0px 0px;
  background-image: url("../images/top_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
header{
    width:100%;
    z-index:2;
    position:fixed;
    display:table;
    font-size:0; /*ul,liが親のfont-sizeを継承して隙間が空くのをリセット*/
    line-height:0}
header h1, nav {
    display:table-cell}
nav {
    text-align:right;
    vertical-align:bottom;
  }
header h1 a img {
    height:40px;
    margin:10px}
header ul {
    font-size:13px;
    line-height:1;
    margin:0 10px 30px 0}
header ul li {
    margin-right:20px;
    display:inline-block}
header ul li a {
  color:#999;
  font-size: 15px;
  }

/* Toggle(Button) */
#navToggle {
    display: none;
    position:absolute;/*to body*/
    right:20px;
    top:30px;
    width:40px;
    height:40px;
    cursor:pointer}
#navToggle div {position:relative}
#navToggle span {
    display:block;
    position:absolute;/*to div*/
    width:100%;
    border-bottom:solid 3px #999;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out}
#navToggle span:nth-child(1) {top:0}
#navToggle span:nth-child(2) {top:13px}
#navToggle span:nth-child(3) {top:26px}


@media screen and (max-width: 991px) {
header nav {
    position:absolute;
    right:0;
    top:-300px; /*通常時はビュー外*/
    background:rgba(252,225,238,.9);
    padding:0 10px;
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    text-align:left}
header ul {
  margin:0;
  padding: 0 40px}
header ul li {
  display:block;
  margin:0;
  border-bottom:solid 1px #fff;
  line-height:3}
header ul li a {display:block}
header ul li:last-child {border-bottom:none}
/* Toggle(Button) */
#navToggle {display: block}
/* Click Toggle(Button) */
.openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg)}
.openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg)}
/*header menu*/
.openNav nav {
    z-index: 1;
    -moz-transform: translateY(380px);
    -webkit-transform: translateY(380px);
    transform: translateY(380px)}
}
footer {
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    color: #666;
}


.thema-color{
  background-color: #FC919E;
  color: #FFF;
}

.user-name{
  display: inline-block;
  font-size: 25px;
}