header nav {
  background-color: #FFFFFF !important;
  height: 80px;
}

div.navbar-header{
  margin-left: 100px;
}

header .navbar-nav{
  margin-top: 20px;

}

header a{
  padding: 0px;
  margin: 0px;
}

header h1.logo{
  width: 200px;
  height: 45px;
  margin: 7px 0px 0px 0px;
  background-image: url("../images/top_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

footer {
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    color: #666;
}

.container {
  padding-top: 80px;
  background-color: #f9f9f9;
}

.thema-color{
  background-color: #FC919E;
  color: #FFF;
}