<div class="col-sm-offset-1 col-sm-11">
  <h2><span class="label label-lg thema-color">避難所新規登録</span></h2>
</div>

<div class="signup">
  <form action="/shelter/signup" method="POST" class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Email Adress">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password(5 to 10 characters)">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPasswordConfirm" class="col-sm-2 control-label">Password Confirm</label>
      <div class="col-sm-10">
        <input type="password" id="inputPasswordConfirm" name="password_confirmation" class="form-control" placeholder="password confirm">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPhone" class="col-sm-2 control-label">Phone Number</label>
      <div class="col-sm-10">
        <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="Phone Number">
      </div>
    </div>

    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Shelter Name</label>
      <div class="col-sm-10">
        <input type="text" id="inputName" name="shelter_name" class="form-control" placeholder="Shelter Name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputRepresent" class="col-sm-2 control-label">Shelter Name</label>
      <div class="col-sm-10">
        <input type="text" id="inputRepresent" name="representative_name" class="form-control" placeholder="Representative Name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputHomeAddress" class="col-sm-2 control-label">Home Adress</label>
      <div class="col-sm-10">
        <input type="text" id="inputHomeAdress" name="home_adress" class="form-control" placeholder="京都府京都市...">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default thema-color">Sign Up</button>
      </div>
    </div>
  </form>
</div>