<form action="/user/signin" method="POST">
  <input type="text" name="email" placeholder="Eメール"><br>
  <input type="password" name="password" placeholder="パスワード
"><br>
  <input type="submit" value="ログイン">
</form>

